<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873197424757-bcnjbsoaa10nfse9bp4qspor187kakcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873197424757-bcnjbsoaa10nfse9bp4qspor187kakcj</string>
	<key>API_KEY</key>
	<string>AIzaSyAqvFcKsOGRu9zGEVFwtJ91c-xPhV_8Zvk</string>
	<key>GCM_SENDER_ID</key>
	<string>873197424757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gm.tinder.job</string>
	<key>PROJECT_ID</key>
	<string>jumush-gambia</string>
	<key>STORAGE_BUCKET</key>
	<string>jumush-gambia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873197424757:ios:332526c0c51e26db79283c</string>
	<key>DATABASE_URL</key>
	<string>https://jumush-gambia.firebaseio.com</string>
</dict>
</plist>